Q1

In [1]:
print('''Twinkle, twinkle, little star, How I wonder what you are! Up above 
the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what 
you are.''')

Twinkle, twinkle, little star, How I wonder what you are! Up above
the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what
you are.

Q2

In [3]:
first_name = input("Enter your first name")
last_name = input("Enter your last name")
print(last_name + " " + first_name)

Enter your first name Bipul
Enter your last name Kumar

Kumar Bipul

Q3

In [4]:
import math

In [5]:
rad = int(input("Enter the radius of the circle"))
ar = math.pi * pow(rad,2)
print(ar)

Enter the radius of the circle 2

12.566370614359172

Q4

In [6]:
color_list = ["Red", "Green", "White", "Black"]
print(color_list[0])
print(color_list[3])

Red
Black

Q5

In [9]:
n = int(input("Enter the value of n"))
nn = int(f"{n}{n}")
nnn = int(f"{n}{n}{n}")
print(n + nn + nnn)

Enter the value of n 5

615

Q6

In [13]:
nums = [int(x) for x in input("Enter the comma separated numbers :").split(',')]
tuple = tuple(nums)
print(nums, tuple)

Enter the comma separated numbers : 2,3,4,5,6,7,8,9

[2, 3, 4, 5, 6, 7, 8, 9] (2, 3, 4, 5, 6, 7, 8, 9)

Q7

In [16]:
cel = int(input("Enter the value in celcius :"))
fah = ((9/5)*cel) + 32
print(fah)

Enter the value in celcius : 34

93.2

Q8

In [18]:
num1 = int(input("Enter the first number :"))
num2 = int(input("Enter the second number :"))
print("Numbers before swapping :", num1,num2)
num1,num2 = num2,num1
num2 += 1
print("Numbers after swapping and incrementing num2 by 1 :", num1,num2)

Enter the first number : 23
Enter the second number : 34

Numbers before swapping : 23 34
Numbers after swapping and incrementing num2 by 1 : 34 24

Q9

In [19]:
num = int(input("Enter the number :"))
if(num%2==0):
    print(f"{num} is even")
else:
    print(f"{num} is odd")

Enter the number : 34

34 is even

Q10

In [21]:
year = int(input("Enter a year: "))
if (year % 400 == 0) or (year % 100 != 0 and year % 4 == 0):
    print(f"{year} is a Leap Year")
else:
    print(f"{year} is NOT a Leap Year")

Enter a year:  2013

2013 is NOT a Leap Year

Q11

In [23]:
x1 = int(input("Enter the x-coordinate of the first point :"))
y1 = int(input("Enter the y-coordinate of the first point :"))
x2 = int(input("Enter the x-coordinate of the second point :"))
y2 = int(input("Enter the y-coordinate of the second point :"))
m = x1 - x2
m_sq = pow(m,2)
m_sqrt = math.sqrt(m_sq)
n = y1 - y2
n_sq = pow(n,2)
n_sqrt = math.sqrt(n_sq)
print(m_sqrt + n_sqrt)

Enter the x-coordinate of the first point : 2
Enter the y-coordinate of the first point : 3
Enter the x-coordinate of the second point : 4
Enter the y-coordinate of the second point : 5

4.0

Q12

In [24]:
ang1 = int(input("Enter the value of the first angle of the triangle :"))
ang2 = int(input("Enter the value of the second angle of the triangle :"))
ang3 = int(input("Enter the value of the third angle of the triangle :"))
if((ang1 + ang2 + ang3)==180):
    print("Triamgle can be formed")
else:
    print("Triangle cannot be formed")

Enter the value of the first angle of the triangle : 23
Enter the value of the second angle of the triangle : 45
Enter the value of the third angle of the triangle : 65

Triangle cannot be formed

Q13

In [25]:
P = float(input("Enter the principal amount :"))
r = float(input("Enter the rate of interest :"))
t = float(input("Enter the time :"))
A = P * (1 + r/100) ** t
CI = A - P
print(CI)

Enter the principal amount : 3000
Enter the rate of interest : 2
Enter the time : 3

183.62400000000025

Q14

In [27]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, int(num**0.5) + 1):   
        if num % i == 0:
            print(f"{num} is NOT a Prime Number")
            break
    else:
        print(f"{num} is a Prime Number")
else:
    print(f"{num} is NOT a Prime Number")

Enter a number:  24

24 is NOT a Prime Number

Q15

In [28]:
n = int(input("Enter the value of n :"))
sum = 0
for i in range(1,n+1):
    sum += pow(i,2)
print(f"{sum} is the sum of the numbers")

Enter the value of n : 5

55 is the sum of the numbers